
/* 

    Developer: Theresa Barkasy

*/

body {
    color: white;
    background-image: linear-gradient(to top, #071a55, #152767, #213479, #2b428c, #36519f);
    min-height: 100dvh;
}

ul{
    list-style: none;
    padding: 0;
    margin-bottom:0;
}

ul li {
    list-style: none;
    /* padding: 5px; */
    width: auto; 
}

h1 {
    text-align: center;
}

input {
    border:none;
    width: 100%;
    background-color: #ccc5c5;
}
