
/* 

    Developer: Theresa Barkasy

*/

body {
    color: #8eaaf8;
    background-image: linear-gradient(to top, #213b87, #26408d, #2c4693, #314b99, #36519f);
    min-height: 100dvh;
}

.list {
    border-radius: 15px;
    background-color: #071a55;
}

ul{
    list-style: none;
    padding: 0;
    margin-bottom:0;
}

ul li {
    list-style: none;
    width: auto; 
}

input {
    border:none;
    width: 100%;
    background-color: #ccc5c5;
}
